/* جعل الشعار على الجهة اليسرى */


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 30px;
    background-image: url(31.jpg);
    width: 100%;
    height: 30px;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
}

.navbar {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    text-decoration: none;
    color: #ecf0f2;
    padding: 10px 20px;
    background-color: #151614;
    border-radius:20px;
}

.navbar li a:hover {
    background-color: #278993;
}

.logo {
    height: 80px;
    margin-left: 20px;
    width: auto;
}

/* جعل النص العربي في اليمين */
body {
    direction: rtl;
    text-align: right;
}

.container {
    text-align: center;
    margin: 15px auto;
}

/* حجم متوسط للصورة مع تطبيق ظل */
.image {
    width: 40%;
    height: auto;
}

/* إضافة تأثير عندما يتم الضغط على الصورة */
.image {
    
    box-shadow: 2px 2px 5px red, goldenrod;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
}

.content {
    margin-top: 20px;
    text-align: center; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
}

.sections {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.section-item {
    padding: 10px 20px;
    background-color: #ffcc00;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


a:link {
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    
  }
  
  /* visited link */
  a:visited {
    color: rgb(97, 108, 206);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(179, 82, 82);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
  }
  
  /* selected link */
  a:active {
    color: rgb(159, 159, 184);
    text-decoration: none;
    font-weight: bold;
  }
  body{
 
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;

}
 
body:focus { 
  outline: none;
}
.logo2 {

   padding: 10px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.apple_logo {

    width:  400px;
    padding: 15px;
    margin: auto;
    
}